@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  background-color: #fafafa;
}

a:hover {
  text-decoration: none;
}

nav {
  width: 100%;
  height: 5.938rem;
  background-color: #fff;
  text-align: center;
  position: relative;
}

.menu {
  list-style-type: none;
  background-color: #fff;
  display: table-cell;
  vertical-align: middle;
}

.menu > li {
  display: inline-block;
  padding-right: 20px;
  vertical-align: middle;
  background-color: #fff;
}

.menu > li > a {
  color: lightgrey;
  text-decoration: none;
}

.header-wrapper {
  background-color: #fff;
  display: table;
}

i {
  color: #0290ff;
}

.profile-icon {
  font-size: 30px;
  background-color: #fff;
}

header {
  width: 15rem;
  height: 2.313rem;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: bold;
  background-color: #fff;
  color: #0290ff;
  display: table-cell;
  vertical-align: middle;
}

.active {
  color: #121212 !important;
  text-decoration: none;
}

.comment,
.edit,
.remove {
  position: relative;
  color: #4386bf;
}

.comment:not(:last-child)::after,
.edit:not(:last-child)::after,
.remove:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  border-right: 1px solid #e8e8e8;
  top: 30%;
  bottom: 30%;
  height: 15px;
}

.bookBlock {
  background-color: white;
  height: 200px;
  margin-bottom: 30px;
  width: 100%;
  border: 2px lightgrey solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 100px;
}

.allBooks {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.allBooks > li {
  width: 100%;
  background-color: white;
}

.main-content {
  margin: 0 auto;
  width: 80%;
  padding-bottom: 100px;
}

/* circle */
.test {
  background-color: #000;
  width: 70px;
  height: 70px;
}

svg {
  width: 70px;
  height: 70px;
}

.test circle {
  transform: rotate(-90deg) translate(10px, 10px);
  transform-origin: center;
  position: absolute;
  fill: none;
  stroke: #ddd;
  stroke-width: 7px;
  stroke-linecap: round;
}

.test circle:nth-child(2) {
  stroke: #307bbe;
  stroke-dasharray: 240;
  stroke-dashoffset: 160;
}

.form-title {
  color: #888;
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
}

.bookTitle {
  font-family: RobotoSlab, sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: #121212;
}

.nav-wrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
